<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd" 
	default-lazy-init="true">

	<bean class="com.verint.textanalytics.bl.applicationservices.SearchInteractionsService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.FacetsService" scope="singleton" lazy-init="true">
	</bean>

	<bean class="com.verint.textanalytics.bl.applicationservices.facet.textelements.TextElementsFacetService" scope="singleton" lazy-init="true">
	</bean>

	<bean class="com.verint.textanalytics.bl.applicationservices.facet.textelements.FacetOnChildrenImpl" scope="singleton" lazy-init="true">
 	</bean>

	<bean class="com.verint.textanalytics.bl.applicationservices.facet.textelements.TopLeafsFacetImpl" scope="singleton" lazy-init="true">
 	</bean>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.TrendsService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.SuggestionsService" scope="singleton" lazy-init="true"/>
 	
	<bean class="com.verint.textanalytics.bl.applicationservices.SnippetsGenerator" scope="singleton" lazy-init="true"/>
 	
	<bean class="com.verint.textanalytics.bl.applicationservices.RegularExpressionWordTokinizer" scope="singleton" lazy-init="true"  />
	<bean class="com.verint.textanalytics.bl.applicationservices.LuceneStandardTokinizer" scope="singleton" lazy-init="true" primary="true"/>

	<bean class="com.verint.textanalytics.bl.applicationservices.HighlightOverlapManager" scope="singleton" lazy-init="true"/>

	<bean class="com.verint.textanalytics.model.interactions.SnippetsConfiguration" init-method="snippetsConfigurationInit" scope="singleton" lazy-init="true" primary="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.DailyVolumeService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.CurrentResultSetMetricsService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.ConfigurationService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.DataSourcesManagmentService" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.security.AuthorizationManager" scope="singleton" lazy-init="true"/>
	<bean class="com.verint.textanalytics.bl.security.EMConfigurationManager" scope="singleton" lazy-init="false"/>
	
	<bean class="com.verint.textanalytics.bl.security.FoundationResponseConverter" scope="singleton" lazy-init="true"/>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.HighlightsGenerator" scope="singleton" lazy-init="true"></bean>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.HighlightsMerger" scope="singleton" lazy-init="true"></bean>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.StoredSearchService" scope="singleton" lazy-init="true" init-method="initialize">
		<constructor-arg ref="metricsSet"/>
	</bean>



	<bean class="com.verint.textanalytics.bl.applicationservices.StoredSearchesMerger" scope="singleton" lazy-init="true"/>

	<bean class="com.verint.textanalytics.bl.applicationservices.CategoriesReprocessingService" scope="singleton" lazy-init="true">
		<property name="configurationManager" ref="configurationManager"/>
	</bean>
	
	<bean class="com.verint.textanalytics.bl.applicationservices.ModelEditorService" scope="singleton" lazy-init="true"/>

	<bean class="com.verint.textanalytics.bl.applicationservices.SampleFilterService" scope="singleton" lazy-init="true"/>
</beans>