target/
.classpath
.project
.setting/
.metadata
*.prefs
*.log*
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/*.log
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/camelSpring.log.1
InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/.checkstyle
InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/.checkstyle
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/src/main/resources/PipelineConfig.properties.local
solr
*.orig
*.back
*.dog
.checkstyle
/.idea*
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/CamelWithSpring.iml
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/InteractionAnalyticsTagger.iml
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/cats.txt
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTagger/src/main/java/com/verint/analytics/pipeline/EmptyUtternaceMessage.java
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTaggerAPI/InteractionAnalyticsTaggerAPI.iml
/InteractionAnalyticsTaggerMVN/InteractionAnalyticsTaggerMVN.iml
/PipelineFunctionalTest/PipelineFunctionalTest.iml
/PipelineFunctionalTest/src/test/resources/empty-cat.json
/PipelineFunctionalTest/src/test/resources/multi-cat.json
/PipelineFunctionalTest/src/test/resources/simple-cat.json
/PipelineNightlyTests/pipeline-nightly-tests.iml
/pipeline-api/pipeline-api.iml
/pipeline-e2e-tests/pipeline-e2e-tests.iml
*.iml
.idea/libraries
.idea/libraries/*
.idea/workspace.xml
.idea
InteractionAnalyticsTaggerMVN/annotations-api/src/main/resources/teragram/
